<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= t ".title" %></title>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= link_to t(".english"), locale: :en %>
  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
